<!DOCTYPE html>
<html >


<body ng-app="myApp">
	
<div ng-controller="MainController as music" class="container-fluid main">

<!-- Layer 1 -->
	<div class="row albums">
		<div ng-repeat="collection in collections" ng-class="{'active':isActive($index)}" ng-click="showPhoto($index)" class=" album-collection col-xs-6 col-sm-4 col-md-3">
			<div><img class="img-responsive" ng-src="{{collection.cover}}"></div>
			<div class="album-content"><p>{{collection.artist}}</p></div>
		</div>		
	</div>
		
<!-- Layer 2 -->		
	<div class="row songs-list">		
		<div class="col-xs-12 col-sm-12 col-md-12">
			<button id="x">close</button>
			<div ng-repeat="collection in collections"  ng-show="isActive($index)"><img class="img-responsive" ng-src="{{collection.cover}}"></div>
			<p class="text-center">Album Name</p>
		</div>
		<div class="playlist col-xs-12 col-sm-12 col-md-12">
			<button>play album</button>
			<p class="text-center">Songs List</p>
			<ul ng-repeat="collection in collections"  ng-show="isActive($index)">
				<li ng-repeat=" song in collection.songs" ng-class="{'active':isActive1($index)}" ng-click="showPhoto1($index)">{{song}}</li>
			</ul>
		</div>
	</div>
		

<!-- Layer 3 -->		
	<div class="row player">
		<div class="player-collapsed col-xs- 12 col-sm-12 col-md-12">
			<button id="toggle-up"> player up/down</button>
			<div ng-repeat="collection in collections"  ng-show="isActive($index)"><p ng-repeat=" song in collection.songs" ng-show="isActive1($index)">{{song}}</p></div>
		</div>
		<div ng-repeat="collection in collections"  ng-show="isActive($index)" class="player-cover col-xs-12 col-sm-12 col-md-12">
			<img class="img-responsive" ng-src="{{collection.cover}}">
			<p>{{}}</p>
		</div>
	</div>

</div>


</body>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Mus</title>
<link href="style.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<!-- <script src="bower_components\angular\angular.min.js"></script> -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
<script src="js/buttons.js"></script>
<!-- Modules -->
<script src="js/app.js"></script>
<!-- Controllers -->
<script src="js/MainController.js"></script>
</head>
</html>